@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css";
@import "./base.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}
a {
  text-decoration: none !important;
  cursor: pointer;
}

/* GRADIENT START */
.gradient {
  background: -o-linear-gradient(38deg, var(--p-indigo-950), var(--p-rose-500));
  background: linear-gradient(52deg, var(--p-indigo-950), var(--p-rose-500));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: gradientAnimation 3s ease infinite;
  animation: gradientAnimation 3s ease infinite;
  background-size: 400% 400%;
}

@-webkit-keyframes gradientAnimation {
  0% {
    background-position: 58% 0%;
  }
  50% {
    background-position: 43% 100%;
  }
  100% {
    background-position: 58% 0%;
  }
}
@keyframes gradientAnimation {
  0% {
    background-position: 58% 0%;
  }
  50% {
    background-position: 43% 100%;
  }
  100% {
    background-position: 58% 0%;
  }
}
/* GRADIENT END */

/* SWIPER START */
.swiper .swiper-pagination-bullet-active {
  background-color: var(--p-indigo-950);
}
.swiper-button-prev,
.swiper-button-next {
  color: var(--p-indigo-950);
}
/* SWIPER END */
@media only screen and (max-width: 667px) {
  .swiper .swiper-pagination {
    margin-bottom: var(--grid-gap-3);
  }
}
